@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    background-color: var(--background-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
}

.container {
    max-width: calc(1200px + var(--container-gutter) * 2);
    padding-left: var(--container-gutter);
    padding-right: var(--container-gutter);
    margin: 0 auto;
}

header .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 0;
}

header nav ul {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

header .empty-button {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--color);
    font-weight: 300;
    /* padding: .6rem 2.4rem; */
    padding: 10px 39px;
    display: block;
}

header .mobile-nav {
    background: none;
    border: none;
}

.hide-desktop {
    display: none;
}

@media screen and (max-width: 768px) {
    .hide-desktop {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
}